.css-form input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
  background-color: #78FA89;
}
.barcode.code128 {
    float: left;
    height: 100%;
    min-height: 10px;
}
.barcode.code128 > div.b {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height: 100%;
}
.barcode.code128 > div.w {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 100%;
}
.barcode.code128 .w20 {
    width: 20px;
}
.barcode.code128 .w1 {
    width: 1px;
}
.barcode.code128 .w2 {
    width: 2px;
}
.barcode.code128 .w3 {
    width: 3px;
}
.barcode.code128 .w4 {
    width: 4px;
}
.barcode.code128 .w5 {
    width: 5px;
}
.barcode.code128 .w6 {
    width: 6px;
}
.barcode.code128 .w7 {
    width: 7px;
}
.barcode.code128 .w8 {
    width: 8px;
}
.barcode.code128 .w9 {
    width: 9px;
}
.barcode.code128 .w10 {
    width: 10px;
}
.barcode.code128 .b1 {
    width: 1px;
}
.barcode.code128 .b2 {
    width: 2px;
}
.barcode.code128 .b3 {
    width: 3px;
}
.barcode.code128 .b4 {
    width: 4px;
}
.barcode.code128 .b5 {
    width: 5px;
}
.barcode.code128 .b6 {
    width: 6px;
}
.barcode.code128 .b7 {
    width: 7px;
}
.barcode.code128 .b8 {
    width: 8px;
}
.barcode.code128 .b9 {
    width: 9px;
}
.barcode.code128 .b10 {
    width: 10px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.growl {
  z-index: 10000;
  left: 50%;
  min-width: 250px;
  max-width: 400px;
  width: auto;
}

.growl-item.ng-enter,
.growl-item.ng-leave {
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;
}
.loading-status {
  z-index: 10000;
  position: fixed;
  top:40px;
  height: 50px;
  min-width: 300px;
  margin: 20px auto;
  left: 50%;
  font-size: 25px;
}

@media screen {
  #printSection {
    display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}

.sort {
  cursor: pointer;
}
