node_modules
dist
.tmp
.sass-cache
app/bower_components
app/demo
.idea/
npm-debug.log
test/bower_components
coverage
app/config.js
app/scripts/config.js
app/scripts/config.json
build
nbproject/private/
Thumbs.db
app/scripts/db.js
config/development.json
config/production.json
config/test.json
app/.brackets.json
app/fixtures/entrance.json
