<div class="row">
  <div class="col-sm-6">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">My Profile</div>
        <div class="widget-icons pull-right">
          <a class="btn btn-primary btn-xs" ui-sref="edit-visitor-profile({visitor_id: visitor.uuid})">
            <i class="fa fa-edit"></i>Edit
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="row">
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-6">Pass Code</div>
                <div class="col-sm-6">{{ visitor.visitors_pass_code }}</div>
              </div>
              <div class="row">
                <div class="col-sm-6">First Name</div>
                <div class="col-sm-6">{{ visitor.first_name }}</div>
              </div>
              <div class="row">
                <div class="col-sm-6">Last Name</div>
                <div class="col-sm-6">{{ visitor.last_name }}</div>
              </div>
              <div class="row">
                <div class="col-sm-6">Visitor Phone</div>
                <div class="col-sm-6">{{ visitor.visitors_phone }}</div>
              </div>
              <div class="row">
                <div class="col-sm-6">Email</div>
                <div class="col-sm-6">{{ visitor.visitors_email }}</div>
              </div>
              <div class="row">
                <div class="col-sm-6">Company</div>
                <div class="col-sm-6">{{ visitor.company_name }}</div>
              </div>
            </div>
            <div class="col-sm-4">
              <img ng-src="{{ visitor.image }}" alt="" class="img-thumbnail img-responsive"  ng-if="visitor.image"/>
              <img src="img/place_holder.jpg" alt="" class="img-thumbnail img-responsive" ng-if="!visitor.image"/>
            </div>
          </div>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Upcoming Appointments</div>
        <div class="widget-icons pull-right">
          <a class="btn btn-primary btn-xs" ui-sref="create-appointment-visitor({visitor_id: visitor.uuid})">
            <span class="fa fa-plus-circle"></span> Create Appointment
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-if="!upcomingAppointments.length">
            You have no upcoming appointments.
          </div>
          <table class="table table-condensed table-responsive table-bordered" ng-if="upcomingAppointments.length">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Date of Appointment</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="upcomingAppointment in upcomingAppointments | limitTo: 5">
              <td>{{ $index+1 }}</td>
              <td>{{ upcomingAppointment.appointment_date }}</td>
              <td>{{ upcomingAppointment.visit_start_time }}</td>
              <td>{{ upcomingAppointment.visit_end_time }}</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="widget">
  <div class="widget-head">
    <div class="pull-left">Appointment Histories</div>
    <div class="widget-icons pull-right">
      <a class="btn btn-primary btn-xs" ui-sref="create-appointment-visitor({visitor_id: visitor.uuid})">
        <span class=" fa fa-plus-circle"></span> Create Appointment
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
    <div class="padd">
      <div class="alert alert-info" ng-if="!appointments.length">
        You have no appointments created
      </div>

      <table class="table table-condensed table-responsive table-bordered" ng-if="upcomingAppointments.length">
        <thead>
        <tr>
          <th>S/N</th>
          <th>Date of Appointment</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="appointment in appointments">
          <td>{{ $index+1 }}</td>
          <td>{{ appointment.appointment_date }}</td>
          <td>{{ appointment.visit_start_time }}</td>
          <td>{{ appointment.visit_end_time }}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-6" style="padding-top: 15px;">
          Showing Page: {{visitorAppointmentCurrentPage}} of {{visitorAppointmentNumPages}}
        </div>
        <div class="col-sm-6">
          <pagination total-items="totalAppointments" ng-model="appointmentsCurrentPage" max-size="maxSize"
                      class="pagination-sm pull-right" boundary-links="true" rotate="false"
                      items-per-page="appointmentsPerPage"></pagination>
        </div>
      </div>
    </div>
    <div class="widget-foot">
      <!-- Footer goes here -->
    </div>
  </div>
</div>
