<div class="widget">
  <div class="widget-head">
    <div class="pull-left">{{ title }}</div>
    <div class="widget-icons pull-right">

    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
    <div class="padd">
      <div class="row">
        <div class="col-sm-8">
          <table class="table table-condensed table-responsive">
            <tr>
              <th>Name</th>
              <td>{{ visitor.first_name + ' ' + visitor.last_name }}</td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="col-sm-4">
          <img ng-src="{{visitor.image}}" alt="" height="250"/>
        </div>
      </div>
    </div>
    <div class="widget-foot">
      <!-- Footer goes here -->
    </div>
  </div>
</div>
