<div class="loading-status" ng-if="busy">
  Loading...
</div>
<form class="form-horizontal" name="visitorForm" ng-submit="saveProfile()" novalidate>
  <fieldset>

    <legend>Personal Information</legend>

    <div class="row">
      <div class="col-sm-8">
        <div class="form-group">
          <label class="control-label col-sm-3" for="firstName">First Name<span class="text-danger">*</span></label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="firstName" name="firstName" ng-model="visitor.first_name"
                   required>

            <div class="text-danger bold" ng-show="(validationErrors).first_name.length">
        <span ng-repeat="error in (validationErrors).first_name">
          {{ error }}<br>
        </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastName" class="col-sm-3 control-label">Last Name<span class="text-danger">*</span></label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="lastName" name="lastName" ng-model="visitor.last_name" required>

            <div class="text-danger bold" ng-show="(validationErrors).last_name.length">
        <span ng-repeat="error in (validationErrors).last_name">
          {{ error }}<br>
        </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Birth Date</label>

          <div class="col-sm-9">
            <div class="input-group">
              <input type="text" ng-change="validateBirthDate(visitor.date_of_birth)" class="form-control" ng-model="visitor.date_of_birth" datepicker-popup is-open="dob.opened"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="dob.open($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>

            <div class="text-danger bold" ng-show="(validationErrors).date_of_birth.length">
              <span ng-repeat="error in (validationErrors).date_of_birth track by $index">
                {{ error }}<br>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="gender" class="control-label col-sm-3">Gender <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <select class="form-control" name="gender" id="gender" ng-model="visitor.gender" required>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>

            <div class="text-danger bold" ng-show="(validationErrors).gender.length">
              <span ng-repeat="error in (validationErrors).gender">
                {{ error }}<br>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="nationality" class="col-sm-3 control-label">Nationality</label>

          <div class="col-sm-9">
            <select class="form-control" id="nationality" ng-change="getStates(visitor.nationality)" name="nationality"
                    ng-model="visitor.nationality">
              <option value=""></option>
              <option ng-selected="country === visitor.nationality" ng-repeat="country in countries"
                      value="{{ country  }}"> {{ countryState[country].name }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="stateOfOrigin" class="col-sm-3 control-label">State of Origin</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="stateOfOrigin" name="stateOfOrigin"
                   ng-model="visitor.state_of_origin" ng-if="visitor.nationality !== 'nigeria'">
            <select class="form-control" id="stateOfOrigin"
                    ng-change="getLGAs(visitor.state_of_origin, visitor.nationality)"
                    ng-model="visitor.state_of_origin"
                    ng-if="visitor.nationality === 'nigeria'">
              <option value=""></option>

              <option ng-selected="state === visitor.state_of_origin" ng-repeat="state in states track by $index"
                      value="{{ state  }}">
                {{ countryState[visitor.nationality].states[state].name }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="lga" class="col-sm-3 control-label">Origin City/LGA</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="lga" name="lga" ng-model="visitor.lga_of_origin"
                   ng-if="visitor.nationality !== 'nigeria'">

            <select class="form-control" id="lga" name="nationality" ng-model="visitor.lga_of_origin"
                    ng-if="visitor.nationality === 'nigeria'">
              <option value=""></option>
              <option ng-selected="lga === visitor.lga_of_origin" ng-repeat="lga in lgas track by $index"
                      value="{{ lga  }}"> {{ lga }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="image" class="col-sm-3 control-label">Image</label>

          <div class="col-sm-9">
            <input id="image" type="file" ng-model-instant ng-if="activateImageUploader"
                   onchange="angular.element(this).scope().setFiles(this, 'image')">

            <div class="row">
              <div ng-if="activateCamera" class="col-sm-4" vi-camera>
                <div camera-control-snapshot></div>
              </div>
              <div class="col-sm-6 col-sm-offset-2" ng-if="activateCamera">
                <canvas></canvas>
              </div>
            </div>

            <a ng-click="activateImageCapture()" class="btn btn-success" ng-show="imageCapture">
              <i class="fa fa-camera" ng-show="activateCamera"></i>
              <i class="fa fa-image" ng-show="activateImageUploader"></i>
              &nbsp;{{ btnText }}
            </a>
            <a ng-click="activateImageCapturing()" class="btn btn-success" ng-show="!imageCapture">
              <i class="fa fa-check-circle"></i>
              Enable Image Capturing
            </a>
          </div>
        </div>

        <div class="form-group">
          <label for="scanned_signature" class="col-sm-3 control-label">Scanned Signature</label>

          <div class="col-sm-6">
            <input type="file" id="scanned_signature" ng-model-instant
                   onchange="angular.element(this).scope().setFiles(this, 'scanned_signature')">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img ng-src="{{visitor.image}}" ng-if="visitor.image" alt="" width="200" height="150"/>
      </div>
    </div>

    <legend>Contact Information</legend>

    <div class="form-group">
      <label for="visitorEmail" class="col-sm-2 control-label">Visitor's Email<span class="text-danger">*</span></label>

      <div class="col-sm-6">
        <input type="text" class="form-control" id="visitorEmail" name="visitorEmail" ng-model="visitor.visitors_email">

        <div class="text-danger bold" ng-show="(validationErrors).visitors_email.length">
          <span ng-repeat="error in (validationErrors).visitors_email">
            {{ error }}<br>
          </span>
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="visitorPhone" class="col-sm-2 control-label">Visitor's Phone<span class="text-danger">*</span></label>

      <div class="col-sm-6">
        <input type="text" class="form-control" id="visitorPhone" name="visitorPhone" ng-model="visitor.visitors_phone">

        <div class="text-danger bold" ng-show="(validationErrors).visitors_phone.length">
          <span ng-repeat="error in (validationErrors).visitors_phone">
            {{ error }}<br>
          </span>
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="contactAddress" class="col-sm-2 control-label">Contact Address<span
        class="text-danger">*</span></label>

      <div class="col-sm-6">
        <textarea id="contactAddress" class="form-control" name="contactAddress"
                  data-ng-model="visitorsLocation.contact_address"></textarea>

        <div class="text-danger bold" ng-show="(validationErrors).contact_address.length">
        <span ng-repeat="error in (validationErrors).contact_address">
          {{ error }}<br>
        </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="cCountry" class="col-sm-2 control-label">Country<span class="text-danger">*</span></label>

      <div class="col-sm-6">
        <select id="cCountry" ng-model="visitorsLocation.residential_country"
                class="form-control" ng-change="getResidentialStates(visitorsLocation.residential_country)">
          <option value=""></option>
          <option ng-selected="country === visitorsLocation.residential_country" value="{{ country }}"
                  ng-repeat="country in countries track by $index">
            {{ countryState[country].name }}
          </option>
        </select>

        <div class="text-danger bold" ng-show="(validationErrors).residential_country.length">
        <span ng-repeat="error in (validationErrors).residential_country">
          {{ error }}<br>
        </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="cstate" class="col-sm-2 control-label">State<span class="text-danger">*</span></label>

      <div class="col-sm-6">
        <select name="cstate" id="cstate" class="form-control"
                ng-change="getResidentialLGAS(visitorsLocation.residential_state, visitorsLocation.residential_country)"
                ng-if="visitorsLocation.residential_country === 'nigeria'"
                ng-model="visitorsLocation.residential_state">
          <option value=""></option>
          <option ng-selected="state === visitorsLocation.residential_state" value="{{ state }}"
                  ng-repeat="state in locationStates track by $index">
            {{ countryState[visitorsLocation.residential_country].states[state].name }}
          </option>
        </select>
        <input type="text" id="cstate"
               class="form-control" name="cstate"
               data-ng-model="visitorsLocation.residential_state"
               ng-if="visitorsLocation.residential_country !== 'nigeria'">

        <div class="text-danger bold" ng-show="(validationErrors).residential_state.length">
        <span ng-repeat="error in (validationErrors).residential_state">
          {{ error }}<br>
        </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="clga" class="col-sm-2 control-label">City/LGA<span class="text-danger">*</span></label>

      <div class="col-sm-6">
        <select class="form-control" id="clga" name="clga" ng-model="visitorsLocation.residential_lga"
                ng-if="visitorsLocation.residential_country === 'nigeria'">
          <option value=""></option>
          <option ng-selected="lga === visitorsLocation.residential_lga" ng-repeat="lga in locationLgas track by $index"
                  value="{{ lga }}"> {{ lga }}
          </option>
        </select>
        <input type="text" id="clga"
               class="form-control" name="clga"
               data-ng-model="visitorsLocation.residential_lga"
               ng-if="visitorsLocation.residential_country !== 'nigeria'">

        <div class="text-danger bold" ng-show="(validationErrors).residential_lga.length">
        <span ng-repeat="error in (validationErrors).residential_lga">
          {{ error }}<br>
        </span>
        </div>
      </div>
    </div>

    <legend>Company Information</legend>

    <div class="form-group">
      <label for="companyName" class="col-sm-2 control-label">Company Name</label>

      <div class="col-sm-6">
        <input type="text" class="form-control"
               id="companyName" name="companyName" ng-model="visitor.company_name">
      </div>
    </div>

    <div class="form-group">
      <label for="companyAddress" class="col-sm-2 control-label">Company Address</label>

      <div class="col-sm-6">
        <textarea id="companyAddress" class="form-control"
                  name="companyAddress" data-ng-model="visitor.company_address"></textarea>
      </div>
    </div>

    <div class="form-group" ng-if="visitor.uuid">
      <label for="visitorGroup" class="col-sm-2 control-label">Visitor Group</label>

      <div class="col-sm-6">
        <select class="form-control col-sm-6" ng-model="visitor.group_type" name="visitorGroup"
                id="visitorGroup">
          <option value=""></option>
          <option value="{{ $index }}" ng-repeat="visitorGroup in visitorGroups">
            {{ visitorGroup }}
          </option>
        </select>
      </div>
    </div>

    <hr/>

    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary">
        Save Changes
      </button>
    </div>
  </fieldset>

</form>
