<div class="widget">
  <div class="widget-head">
    <div class="pull-left"></div>
    <div class="widget-icons pull-right">
      <button ng-disabled="!export.length" class="btn btn-primary hidden-print" type="button"
              ng-csv="export" csv-header="csvHeader"  filename="{{getFileName('visitors')}}">
        Export
      </button>
      <a class="fa fa-plus-circle btn btn-primary btn-sm" ui-sref="create-visitor-profile"> Create Visitor Profile</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="widget-content">
    <div class="padd">
      <div >
        <table class="table table-striped table-condensed table-responsive table-bordered">
          <thead>
          <tr>
            <th></th>
            <th><input class="form-control" ng-model="search.name"></th>
            <th><input class="form-control" ng-model="search.visitors_email"></th>
            <th><input class="form-control" ng-model="search.visitors_phone"></th>
            <th><input class="form-control" ng-model="search.company_name"></th>
            <th><input class="form-control" ng-model="search.group_type"></th>
            <th>
              <div style="max-width: 200px" class="input-group">
                <input type="text" class="form-control" ng-model="search.created"
                       datepicker-popup is-open="createdDate.opened"
                       date-disabled="disabled(date, mode)"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="createdDate.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </th>
            <th><button ng-click="search={}" class="btn btn-info">Clear</button></th>
          </tr>
          <tr>
            <th>S/N</th>
            <th><a class="sort" ng-click="sort('first_name')">Visitor's Names</a></th>
            <th><a class="sort" ng-click="sort('visitors_email')">Visitor's Email</a></th>
            <th><a class="sort" ng-click="sort('visitors_phone')">Visitor's Phone</a></th>
            <th><a class="sort" ng-click="sort('company_name')">Company Name</a></th>
            <th><a class="sort" ng-click="sort('group_type')">Group Type</a></th>
            <th><a class="sort" ng-click="sort('created')">Created Date</a></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="visitor in visitors | paginationOffset:pagination.currentPage:pagination.itemsPerPage | orderBy: 'visitor.created'"
            ng-class="{'text-danger': getGroupType(visitor.group_type) === 'Banned'}">
            <td>{{ $index + 1 + ((pagination.currentPage-1) * pagination.itemsPerPage) }}</td>
            <td>
              <a class="btn-link" ui-sref="edit-visitor-profile({visitor_id: visitor.uuid})"
                 title="Edit {{ visitor.first_name }}'s details" ng-show="user.is_staff">
                {{ visitor.first_name }} {{ visitor.last_name }}
              </a>
              <span ng-show="!user.is_staff">
                {{ visitor.first_name }} {{ visitor.last_name }}

              </span>
            </td>
            <td>{{ visitor.visitors_email }}</td>
            <td>{{ visitor.visitors_phone }}</td>
            <td>{{ visitor.company_name }}</td>
            <td>
              <span class="label" ng-class="{'label-danger': getGroupType(visitor.group_type) === 'Banned',
                'label-warning': getGroupType(visitor.group_type) === 'Normal',
                'label-success': getGroupType(visitor.group_type) === 'Success'
                }">
                {{ getGroupType(visitor.group_type) }}
              </span>
            </td>
            <td>{{ visitor.created |date: 'dd MMM, yyyy' }}</td>
            <td>
              <a class="btn btn-success btn-xs" ui-sref="show-visitor({visitor_id: visitor.uuid})"
                 title="View {{ visitor.first_name }}'s details" ng-show="user.is_active">
                <i class="fa fa-eye"></i> View
              </a>

              <a class="btn btn-success btn-xs" ui-sref="create-appointment-visitor({visitor_id: visitor.uuid})"
                 title="Create appointment" ng-show="user.is_active && getGroupType(visitor.group_type) !== 'Banned'">
                <i class="fa fa-plus-circle"></i> Create Appointment
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <br/>
        <div class="row">
          <div class="col-sm-6" style="padding-top: 15px;">
            Showing Page: {{pagination.currentPage}} of {{pagination.numPages}}
          </div>
          <div class="col-sm-6">
            <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm pull-right"
                        boundary-links="true" rotate="false" items-per-page="pagination.itemsPerPage"></pagination>
          </div>
        </div>
      </div>

      <!--div class="alert alert-info" ng-if="!visitors.length">
        <p>
          No visitor's profile have been created. Click on the create visitor profile button to create one.
        </p>
      </div-->
    </div>
    <div class="widget-foot">
      <!-- Footer goes here -->
    </div>
  </div>
</div>
