<form ng-submit="addEntrance()" name="entranceForm" class="form-horizontal">
  <fieldset>
    <legend ng-if="entrance._id">Edit Entrance</legend>
    <legend ng-if="!entrance._id">Add Entrance</legend>
    <div class="form-group">
      <label class="control-label col-sm-2" for="entranceName">Entrance Name</label>

      <div class="col-sm-6">
        <input class="form-control" id="entranceName" name="entranceName"
               ng-model="entrance.entrance_name" type="text" required/>
      </div>
    </div>

    <hr/>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <button class="btn btn-primary"
                ng-class="{ 'disabled btn-danger' : entranceForm.$invalid }" ng-if="!entrance._id">
          Add Entrance
        </button>

        <button class="btn btn-primary"
                ng-class="{ 'disabled btn-danger' : entranceForm.$invalid }" ng-if="entrance._id">
          Update Entrance
        </button>
      </div>
    </div>
  </fieldset>
</form>