<div class="widget">
  <div class="widget-head">
    <div class="pull-left">Title</div>
    <div class="widget-icons pull-right">
      <div>
        <a class="fa fa-plus-circle btn btn-primary btn-sm" ui-sref="add-company-entrance"
           ng-show="user.is_superuser"> Add Entrance</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
    <div class="padd">
      <div class="alert alert-info" ng-if="!entrance.length">
        <p>
          No entrance have been created. Click on the add entrance button to create one.
        </p>
      </div>

      <table class="table table-condensed table-bordered table-responsive" ng-if="entrance.length">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Entrance Name</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Created By</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ent in entrance">
            <td>{{ $index + 1 }}</td>
            <td>{{ ent.entrance_name }}</td>
            <td>{{ ent.created | date: 'EEE MMM dd, yyyy' }}</td>
            <td>{{ ent.modified | date: 'EEE MMM dd, yyyy' }}</td>
            <td>{{ ent.created_by }}</td>
            <td>
              <a class="btn btn-danger btn-xs" ng-click="deleteEntrance(ent.uuid)" ng-show="user.is_superuser">
                <i class="fa fa-times-circle"></i> Delete
              </a>

              <a class="btn btn-success btn-xs" ui-sref="edit-company-entrance({entrance_id: ent.uuid})"
                 ng-show="user.is_superuser">
                <i class="fa fa-edit"></i> Edit
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-6" style="padding-top: 15px;">
          Showing Page: {{ pagination.currentPage }} of {{ pagination.numberOfPages }}
        </div>
        <div class="col-sm-6">
          <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="maxSize" class="pagination-sm pull-right"
                      boundary-links="true" rotate="false" items-per-page="pagination.itemsPerPage"></pagination>
        </div>
      </div>
    </div>
    <div class="widget-foot">
      <!-- Footer goes here -->
    </div>
  </div>
</div>
