<div class="row">
  <div class="col-sm-12">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Appointments in Progress</div>
        <div class="widget-icons pull-right">
          <button ng-disabled="!appointmentsInProgressExport.length" class="btn btn-primary hidden-print" type="button"
                  ng-csv="appointmentsInProgressExport" csv-header="appointmentsInProgressCsvHeader"  filename="{{getFileName('appointmentsInProgress')}}">
            Export Appointments in Progress Reports
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-if="!currentAppointments.length">
            <p>There are no appointments in progress</p>
          </div>
          <div ng-if="currentAppointments.length">
            <table class="table table-condensed table-responsive table-bordered">
              <thead>
              <tr>
                <th>S/N</th>
                <th>Visitor's Name</th>
                <th>Host's Name</th>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
              </thead>
              <tbody>
              <tr
                ng-repeat="currentAppointment in currentAppointments  | paginationOffset:currentPage:itemsPerPage | orderBy: 'visit_start_time'">
                <td>{{ $index + 1 }}</td>
                <td>{{ currentAppointment.visitor_id.first_name }} {{ currentAppointment.visitor_id.last_name }}</td>
                <td>{{ currentAppointment.host_id.first_name }} {{ currentAppointment.host_id.last_name }}</td>
                <td>{{ currentAppointment.visit_start_time }}</td>
                <td>{{ currentAppointment.visit_end_time }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="widget-foot">
            <!-- Footer goes here -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Appointments Awaiting Approval</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-show="!appointmentsAwaitingApproval.length">
            <p>
              There are no appointments awaiting approval.
            </p>
          </div>

          <table class="table table-condense table-bordered" ng-show="appointmentsAwaitingApproval.length">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Host's Name</th>
              <th>Visitor's Name</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appointmentAwaitingApproval in appointmentsAwaitingApproval | limitTo:5">
              <td>{{ $index+1 }}</td>
              <td>{{ appointmentAwaitingApproval.host_id.first_name + ' ' +
                appointmentAwaitingApproval.host_id.last_name }}
              </td>
              <td>{{ appointmentAwaitingApproval.visitor_id.first_name + ' ' +
                appointmentAwaitingApproval.visitor_id.last_name }}
              </td>
              <td>{{ appointmentAwaitingApproval.appointment_date }}</td>
              <td>
                <a class="btn btn-primary btn-xs"
                   ui-sref="show-appointment({appointment_id: appointmentAwaitingApproval.uuid})">
                  View
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Approved Appointments never used</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-show="!appointmentsNeverUsed.length">
            <p>
              There are no appointments approved but never used.
            </p>
          </div>

          <table class="table table-condense table-bordered" ng-show="appointmentsNeverUsed.length">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Host's Name</th>
              <th>Visitor's Name</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appointmentNeverUsed in appointmentsNeverUsed | limitTo:5">
              <td>{{ $index+1 }}</td>
              <td>{{ appointmentNeverUsed.host_id.first_name + ' ' +
                appointmentNeverUsed.host_id.last_name }}
              </td>
              <td>{{ appointmentNeverUsed.visitor_id.first_name + ' ' +
                appointmentNeverUsed.visitor_id.last_name }}
              </td>
              <td>{{ appointmentNeverUsed.appointment_date }}</td>
              <td>
                <a class="btn btn-primary btn-xs"
                   ui-sref="show-appointment({appointment_id: appointmentNeverUsed.uuid})">
                  View
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Approved not checked-in</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-show="!appointmentsNotCheckedIn.length">
            <p>
              There are no appointments approved that are not checked in.
            </p>
          </div>

          <table class="table table-condense table-bordered" ng-show="appointmentsNotCheckedIn.length">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Host's Name</th>
              <th>Visitor's Name</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appointmentNotCheckedIn in appointmentsNotCheckedIn | limitTo:5">
              <td>{{ $index+1 }}</td>
              <td>{{ appointmentNotCheckedIn.host_id.first_name + ' ' +
                appointmentNotCheckedIn.host_id.last_name }}
              </td>
              <td>{{ appointmentNotCheckedIn.visitor_id.first_name + ' ' +
                appointmentNotCheckedIn.visitor_id.last_name }}
              </td>
              <td>{{ appointmentNotCheckedIn.appointment_date }}</td>
              <td>
                <a class="btn btn-primary btn-xs"
                   ui-sref="show-appointment({appointment_id: appointmentNotCheckedIn.uuid})">
                  View
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Expired Appointments</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-show="!expiredAppointments.length">
            <p>
              There are no expired appointments.
            </p>
          </div>

          <table class="table table-condense table-bordered" ng-show="expiredAppointments.length">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Host's Name</th>
              <th>Visitor's Name</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="expiredAppointment in expiredAppointments | limitTo:5">
              <td>{{ $index+1 }}</td>
              <td>{{ expiredAppointment.host_id.first_name + ' ' +
                expiredAppointment.host_id.last_name }}
              </td>
              <td>{{ expiredAppointment.visitor_id.first_name + ' ' +
                expiredAppointment.visitor_id.last_name }}
              </td>
              <td>{{ expiredAppointment.appointment_date }}</td>
              <td>
                <a class="btn btn-primary btn-xs"
                   ui-sref="show-appointment({appointment_id: expiredAppointment.uuid})">
                  View
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
  </div>
</div>
