<div class="row">
  <div class="col-sm-12">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Appointments in Progress</div>
        <div class="widget-icons pull-right">
          <div class="row">
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <input
                  placeholder="Filter from"
                  type="text"
                  class="form-control"
                  ng-model="search.inProgress.from"
                  datepicker-popup
                  is-open="dateRange.inProgress.from.opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="dateRange.inProgress.from.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <input
                  placeholder="Filter to"
                  type="text"
                  class="form-control"
                  ng-model="search.inProgress.to"
                  datepicker-popup
                  is-open="dateRange.inProgress.to.opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="dateRange.inProgress.to.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-sm" ng-click="search.inProgress = {}">Clear</button>
            </div>
            <div class="col-xs-2">
              <button ng-disabled="!appointmentsInProgressExport.length" class="btn btn-primary btn-sm hidden-print pull-right" type="button"
                      ng-csv="appointmentsInProgressExport" csv-header="csvHeader"  filename="{{getFileName('appointmentsInProgress')}}">
                Export
              </button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-if="!inProgress.length">
            <p>There are no appointments in progress</p>
          </div>
          <div ng-if="inProgress.length">
            <table class="table table-condensed table-responsive table-bordered">
              <thead>
              <tr>
                <th>S/N</th>
                <th>Visitor's Name</th>
                <th>Host's Name</th>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
              </thead>
              <tbody>
              <tr
                ng-repeat="currentAppointment in inProgress  | paginationOffset:currentPage:itemsPerPage | orderBy: 'visit_start_time'">
                <td>{{ $index + 1 }}</td>
                <td>{{ currentAppointment.visitor_id.first_name }} {{ currentAppointment.visitor_id.last_name }}</td>
                <td>{{ currentAppointment.host_id.first_name }} {{ currentAppointment.host_id.last_name }}</td>
                <td>{{ currentAppointment.visit_start_time }}</td>
                <td>{{ currentAppointment.visit_end_time }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="widget-foot">
            <!-- Footer goes here -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Awaiting Approval</div>
        <div style="width: 70%;" class="widget-icons pull-right">

          <div class="row">
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <input
                  placeholder="Filter from"
                  type="text"
                  class="form-control"
                  ng-model="search.awaitingApproval.from"
                  datepicker-popup
                  is-open="dateRange.awaitingApproval.from.opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="dateRange.awaitingApproval.from.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <input
                  placeholder="Filter to"
                  type="text"
                  class="form-control"
                  ng-model="search.awaitingApproval.to"
                  datepicker-popup
                  is-open="dateRange.awaitingApproval.to.opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="dateRange.awaitingApproval.to.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-sm" ng-click="search.awaitingApproval = {}">Clear</button>
            </div>
            <div class="col-xs-2">
              <button ng-disabled="!awaitingApprovalExport.length" class="btn btn-primary btn-sm hidden-print" type="button"
                      ng-csv="awaitingApprovalExport" csv-header="csvHeader"  filename="{{getFileName('appointmentsAwaitingApproval')}}">
                Export
              </button>
            </div>
          </div>


        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-show="!awaitingApproval.length">
            <p>
              There are no appointments awaiting approval.
            </p>
          </div>

          <table class="table table-condense table-bordered" ng-show="awaitingApproval.length">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Host's Name</th>
              <th>Visitor's Name</th>
              <th>Appointment Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appointmentAwaitingApproval in awaitingApproval | limitTo:5">
              <td>{{ $index+1 }}</td>
              <td>{{ appointmentAwaitingApproval.host_id.first_name + ' ' +
                appointmentAwaitingApproval.host_id.last_name }}
              </td>
              <td>{{ appointmentAwaitingApproval.visitor_id.first_name + ' ' +
                appointmentAwaitingApproval.visitor_id.last_name }}
              </td>
              <td>{{ appointmentAwaitingApproval.appointment_date }}</td>
              <td>
                <a class="btn btn-primary btn-xs"
                   ui-sref="show-appointment({appointment_id: appointmentAwaitingApproval.uuid})">
                  View
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Approved never used</div>
        <div style="width: 70%;" class="widget-icons pull-right">

          <div class="row">
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <input
                  placeholder="Filter from"
                  type="text"
                  class="form-control"
                  ng-model="search.neverUsed.from"
                  datepicker-popup
                  is-open="dateRange.neverUsed.from.opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="dateRange.neverUsed.from.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <input
                  placeholder="Filter to"
                  type="text"
                  class="form-control"
                  ng-model="search.neverUsed.to"
                  datepicker-popup
                  is-open="dateRange.neverUsed.to.opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="dateRange.neverUsed.to.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-sm" ng-click="search.neverUsed = {}">Clear</button>
            </div>
            <div class="col-xs-2">
              <button ng-disabled="!appointmentsNeverUsedExport.length" class="btn btn-primary btn-sm hidden-print" type="button"
                      ng-csv="appointmentsNeverUsedExport" csv-header="csvHeader"  filename="{{getFileName('appointmentsNeverUsed')}}">
                Export
              </button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-show="!neverUsed.length">
            <p>
              There are no appointments approved but never used.
            </p>
          </div>

          <table class="table table-condense table-bordered" ng-show="neverUsed.length">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Host's Name</th>
              <th>Visitor's Name</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appointmentNeverUsed in neverUsed | limitTo:5">
              <td>{{ $index+1 }}</td>
              <td>{{ appointmentNeverUsed.host_id.first_name + ' ' +
                appointmentNeverUsed.host_id.last_name }}
              </td>
              <td>{{ appointmentNeverUsed.visitor_id.first_name + ' ' +
                appointmentNeverUsed.visitor_id.last_name }}
              </td>
              <td>{{ appointmentNeverUsed.appointment_date }}</td>
              <td>
                <a class="btn btn-primary btn-xs"
                   ui-sref="show-appointment({appointment_id: appointmentNeverUsed.uuid})">
                  View
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Approved not checked-in</div>
        <div style="width: 70%;" class="widget-icons pull-right">
          <div class="row">
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <input
                  placeholder="Filter from"
                  type="text"
                  class="form-control"
                  ng-model="search.notCheckedIn.from"
                  datepicker-popup
                  is-open="dateRange.notCheckedIn.from.opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="dateRange.notCheckedIn.from.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <input
                  placeholder="Filter to"
                  type="text"
                  class="form-control"
                  ng-model="search.notCheckedIn.to"
                  datepicker-popup
                  is-open="dateRange.notCheckedIn.to.opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="dateRange.notCheckedIn.to.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-sm" ng-click="search.notCheckedIn = {}">Clear</button>
            </div>
            <div class="col-xs-2">
              <button ng-disabled="!appointmentsNotCheckedInExport.length" class="btn btn-primary btn-sm hidden-print" type="button"
                      ng-csv="appointmentsNotCheckedInExport" csv-header="csvHeader"  filename="{{getFileName('approvedNotCheckedIn')}}">
                Export
              </button>
            </div>
          </div>


        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-show="!notCheckedIn.length">
            <p>
              There are no appointments approved that are not checked in.
            </p>
          </div>

          <table class="table table-condense table-bordered" ng-show="notCheckedIn.length">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Host's Name</th>
              <th>Visitor's Name</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appointmentNotCheckedIn in notCheckedIn | limitTo:5">
              <td>{{ $index+1 }}</td>
              <td>{{ appointmentNotCheckedIn.host_id.first_name + ' ' +
                appointmentNotCheckedIn.host_id.last_name }}
              </td>
              <td>{{ appointmentNotCheckedIn.visitor_id.first_name + ' ' +
                appointmentNotCheckedIn.visitor_id.last_name }}
              </td>
              <td>{{ appointmentNotCheckedIn.appointment_date }}</td>
              <td>
                <a class="btn btn-primary btn-xs"
                   ui-sref="show-appointment({appointment_id: appointmentNotCheckedIn.uuid})">
                  View
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Expired</div>
        <div style="width: 70%;" class="widget-icons pull-right">

          <div class="row">
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <input
                  placeholder="Filter from"
                  type="text"
                  class="form-control"
                  ng-model="search.expired.from"
                  datepicker-popup
                  is-open="dateRange.expired.from.opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="dateRange.expired.from.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <input
                  placeholder="Filter to"
                  type="text"
                  class="form-control"
                  ng-model="search.expired.to"
                  datepicker-popup
                  is-open="dateRange.expired.to.opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="dateRange.expired.to.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-sm" ng-click="search.expired = {}">Clear</button>
            </div>
            <div class="col-xs-2">
              <button ng-disabled="!expiredAppointmentsExport.length" class="btn btn-primary btn-sm hidden-print" type="button"
                      ng-csv="expiredAppointmentsExport" csv-header="csvHeader"  filename="{{getFileName('expiredAppointments')}}">
                Export
              </button>
            </div>
          </div>


        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-show="!expiredAppointments.length">
            <p>
              There are no expired appointments.
            </p>
          </div>

          <table class="table table-condense table-bordered" ng-show="expiredAppointments.length">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Host's Name</th>
              <th>Visitor's Name</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="expiredAppointment in expiredAppointments | limitTo:5">
              <td>{{ $index+1 }}</td>
              <td>{{ expiredAppointment.host_id.first_name + ' ' +
                expiredAppointment.host_id.last_name }}
              </td>
              <td>{{ expiredAppointment.visitor_id.first_name + ' ' +
                expiredAppointment.visitor_id.last_name }}
              </td>
              <td>{{ expiredAppointment.appointment_date }}</td>
              <td>
                <a class="btn btn-primary btn-xs"
                   ui-sref="show-appointment({appointment_id: expiredAppointment.uuid})">
                  View
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
  </div>
</div>
