
<div class="row">
  <div class="col-sm-6">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">
          <h3>{{ pageTile }}</h3>
        </div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-4">
                    Server FQDN\IP
                  </label>
                  <div class="col-sm-8">
                    <input class="form-control" ng-model="ldapSettings.serverName" placeholder="ldap://ldap.example.com" >
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-4">
                    Port
                  </label>
                  <div class="col-sm-8">
                    <input class="form-control" ng-model="ldapSettings.port" >
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-4">
                    Admin Username
                  </label>
                  <div class="col-sm-8">
                    <input class="form-control" ng-model="ldapSettings.adminUserName" placeholder="" >
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-4">
                    Admin Password
                  </label>
                  <div class="col-sm-8">
                    <input ng-if="!showPassword" class="form-control" type="password" ng-model="ldapSettings.bindPassword" >
                    <input ng-if="showPassword" class="form-control" type="text" ng-model="ldapSettings.bindPassword">
                    Show password <input type="checkbox" ng-model="showPassword">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-4">
                    Domain Controller
                  </label>
                  <div class="col-sm-8">
                    <input class="form-control" ng-model="ldapSettings.domainController" >
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-12">
                    <button ng-click="save()" class="btn btn-primary pull-right">Save Setting</button>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
  </div>
</div>

