
  <fieldset>

    <div class="form-group">
      <label class="control-label col-sm-2" for="serverName">Database Sever Name</label>

      <div class="col-sm-6">
        <input class="form-control" name="serverName" id="serverName"  type="text" ng-model="settings.databaseSetting.server_name"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="username">database Sever</label>

      <div class="col-sm-6">
        <input class="form-control" name="username" id="username"  type="text" ng-model="settings.databaseSetting.username"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password</label>

      <div class="col-sm-6">
        <input class="form-control" name="password" id="password"  type="text" ng-model="settings.databaseSetting.password"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="server_url">Server Url</label>

      <div class="col-sm-6">
        <input class="form-control" name="server_url" id="server_url"  ng-model="settings.databaseSetting.server_url" type="text"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="server_Type">Server Type</label>

      <div class="col-sm-6">
        <select id="server_type" class="form-control" ng-model="settings.databaseSetting.server_type">
          <option ng-selected="settings.databaseSetting.server_type === sqlite || settings.databaseSetting.server_type === undefined" value="sqlite">SQLite</option>
          <option ng-selected="settings.databaseSetting.server_type === mysql" value="mysql">Mysql</option>
          <option ng-selected="settings.databaseSetting.server_type === postgres" value="postgres">PostgreSQL</option>
          <option ng-selected="settings.databaseSetting.server_type === mssql" value="mssql">SQL Server</option>
        </select>
      </div>
    </div>
    <hr/>
  </fieldset>

