
<fieldset>

  <div class="form-group">
    <label class="control-label col-sm-2" for="ldapDomain">LDAP Domain</label>

    <div class="col-sm-6">
      <input class="form-control" name="ldapDomain" id="ldapDomain"  type="text" ng-model="settings.localSetting.ldapDomain"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="ldapUsername">LDAP Username</label>

    <div class="col-sm-6">
      <input class="form-control" name="ldapUsername" id="ldapUsername"  type="text" ng-model="settings.localSetting.ldapUsername"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="ldapPassword">LDAP Password</label>

    <div class="col-sm-6">
      <input class="form-control" name="ldapPassword" id="ldapPassword"  type="text" ng-model="settings.localSetting.ldapPassword"/>
    </div>
  </div>
  <hr/>
</fieldset>

