
<fieldset>

  <div class="form-group">
    <label class="control-label col-sm-2" for="backend">Backend Url</label>

    <div class="col-sm-6">
      <input class="form-control" name="backend" id="backend"  type="text" ng-model="settings.localSetting.backend"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="cron">Cron Service Url</label>

    <div class="col-sm-6">
      <input class="form-control" name="cron" id="cron"  type="text" ng-model="settings.localSetting.cron"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="remoteBackend">Remote Backend Url</label>

    <div class="col-sm-6">
      <input class="form-control" name="remoteBackend" id="remoteBackend"  type="text" ng-model="settings.localSetting.remoteBackend"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="couchDB">CouchDB Url</label>

    <div class="col-sm-6">
      <input class="form-control" name="couchDB" id="couchDB"  ng-model="settings.localSetting.couchDB" type="text"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="localDB">Server Type</label>

    <div class="col-sm-6">
      <input class="form-control" name="localDB" id="localDB"  ng-model="settings.localSetting.localDB" type="text"/>
    </div>
  </div>
  <hr/>
</fieldset>

