
<fieldset>

  <div class="form-group">
    <label class="control-label col-sm-4" for="backend">Database Server</label>

    <div class="col-sm-6">
      <input class="form-control" name="backend" id="backend"  type="text" ng-model="settings.localSetting.backend"/>
      <div class="text-danger bold" ng-show="(validationErrors).backend.length">
        <span ng-repeat="error in (validationErrors).backend">
          {{ error }}<br>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-4" for="cron">Port</label>

    <div class="col-sm-6">
      <input class="form-control" name="cron" id="cron"  type="text" ng-model="settings.localSetting.localBrowserPort"/>
      <div class="text-danger bold" ng-show="(validationErrors).localBrowserPort.length">
        <span ng-repeat="error in (validationErrors).localBrowserPort">
          {{ error }}<br>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-4" for="remoteBackend">Remote Backend Url</label>

    <div class="col-sm-6">
      <input class="form-control" name="remoteBackend" id="remoteBackend"  type="text" ng-model="settings.localSetting.remoteBackend"/>
      <div class="text-danger bold" ng-show="(validationErrors).remoteBackend.length">
        <span ng-repeat="error in (validationErrors).remoteBackend">
          {{ error }}<br>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-4" for="couchDB">CouchDB Url</label>

    <div class="col-sm-6">
      <input class="form-control" name="couchDB" id="couchDB"  ng-model="settings.localSetting.couchDB" type="text"/>
      <div class="text-danger bold" ng-show="(validationErrors).couchDB.length">
        <span ng-repeat="error in (validationErrors).couchDB">
          {{ error }}<br>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-4" for="localDB">Local DB</label>

    <div class="col-sm-6">
      <input class="form-control" name="localDB" id="localDB"  ng-model="settings.localSetting.localDB" type="text"/>
      <div class="text-danger bold" ng-show="(validationErrors).localDB.length">
        <span ng-repeat="error in (validationErrors).localDB">
          {{ error }}<br>
        </span>
      </div>
    </div>
  </div>
  <hr/>
</fieldset>

