<div class="widget">
  <div class="widget-head">
    <div class="pull-left"><h3>{{ pageTile }}</h3></div>
    <div class="widget-icons pull-right">

    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
    <div class="padd">
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" ng-class="{active: currentPage === 'server-setting'}">
              <a class="pointer" ng-click="setCurrentPage('server-setting')">Server Setting</a>
            </li>
            <li role="presentation" ng-class="{active: currentPage === 'database-setting'}">
              <a class="pointer" ng-click="setCurrentPage('database-setting')">Database Setting</a>
            </li>
            <li role="presentation" ng-class="{active: currentPage === 'system-setting'}">
              <a class="pointer" ng-click="setCurrentPage('system-setting')">System Setting</a>
            </li>
            <li role="presentation" ng-class="{active: currentPage === 'local-setting'}">
              <a class="pointer" ng-click="setCurrentPage('local-setting')">Local Setting</a>
            </li>
            <li role="presentation" ng-class="{active: currentPage === 'about'}">
              <a class="pointer" ng-click="setCurrentPage('about-setting')">About</a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="row">
        <div class="col-xs-12" style="margin-top: 30px;">
          <form class="form-horizontal">
            <div ng-include=currentPageTemplateUrl></div>

            <div class="col-sm-offset-2 col-sm-6">
              <button ng-click="save()" class="btn btn-primary">Save Database Setting</button>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="widget-foot">
      <!-- Footer goes here -->
    </div>
  </div>
</div>
