<fieldset>

  <div class="form-group">
    <label class="control-label col-sm-2" for="smsApiUrl">SMS Api Url</label>

    <div class="col-sm-6">
      <input class="form-control" name="smsApiUrl" id="smsApiUrl"  type="text"
             ng-model="smsSetting.smsApiUrl"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="smsApiUrl">SMS Api Path</label>

    <div class="col-sm-6">
      <input class="form-control" name="smsApiPath" id="smsApiPath"  type="text"
             ng-model="smsSetting.smsApiPath"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="smsSender">SMS Sender</label>

    <div class="col-sm-6">
      <input class="form-control" name="smsSender" id="smsSender"  type="text"
             ng-model="smsSetting.smsSender"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="sms_api_username">User</label>

    <div class="col-sm-6">
      <input class="form-control" name="sms_api_username" id="sms_api_username"
             ng-model="smsSetting.smsUser" type="text"/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="sms_api_password">Password</label>

    <div class="col-sm-6">
      <input class="form-control" name="sms_api_password" id="sms_api_password"
             ng-model="smsSetting.smsPass" type="password"/>
    </div>
  </div>

  <hr/>
</fieldset>
