
  <fieldset>
    <div class="form-group">
      <label class="control-label col-sm-2" for="offlineMode">Offline Mode</label>

      <div class="col-sm-6">
        <input class="form-control" name="offlineMode" id="offlineMode"  type="text"
               ng-model="settings.systemSetting.offline_mode"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="sync_interval">Sync Interval</label>

      <div class="col-sm-6">
        <input class="form-control" name="sync_interval" id="sync_interval"  type="text"
               ng-model="settings.systemSetting.sync_interval"/>
      </div>
    </div>


    <hr/>
  </fieldset>
