<div>
  <a class="btn btn-default hidden-xs" ng-click="addDepartment()" ><i class="fa fa-plus"></i> Add</a>
  <a class="btn btn-default visible-xs" ui-sref="add-company-department" ><i class="fa fa-plus"></i> Add</a>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th>#</th>
          <th>Department</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="department in departments">
          <td>{{ $index + 1}}</td>
          <td>{{ department.department_name }}</td>
          <td>{{ department.description }}</td>
          <td>
            <a class="hidden-xs pointer" ng-click="addDepartment(department._id)">Edit <i class="fa fa-edit"></i></a>
            <a class="visible-xs pointer" ui-sref="edit-company-department({id: department._id})">Edit <i class="fa fa-edit"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>