<div class="widget">
  <div class="widget-head">
    <div class="pull-left">
    </div>
    <div class="widget-icons pull-right">
      <button ng-click="importUsers()" class="btn btn-primary">Import Users</button>
      <button ng-disabled="!UsersCtrl.export.length" class="btn btn-primary hidden-print" type="button"
              ng-csv="UsersCtrl.export" csv-header="UsersCtrl.csvHeader" filename="{{UsersCtrl.getFileName('users')}}">
        Export
      </button>
      <a class="btn btn-primary" ui-sref="user-form"><i class="fa fa-plus-circle"></i> Create User Account</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
    <div class="padd">
      <div class="row">
        <table class="table table-condensed table-bordered">
          <thead>
          <tr>
            <th></th>
            <th><input class="form-control" type="text" ng-model="search.name"/></th>
            <th><input class="form-control" type="text" ng-model="search.username"/></th>
            <th>
              <select class="form-control" ng-model="search.role">
                <option value="is_superuser">Super Admin</option>
                <option value="is_staff">Admin</option>
                <option value="is_active">Staff</option>
                <option value="not_active">Not Active</option>
              </select>
            </th>
            <th><input class="form-control" type="text" ng-model="search.department"/></th>
            <th><input class="form-control" type="text" ng-model="search.phone"/></th>
            <th>
              <button ng-click="search={}" class="btn btn-info">Clear</button>
            </th>
          </tr>
          <tr>
            <th>S/N</th>
            <th>
              <a class="pointer block" ng-click="UsersCtrl.sort('first_name')">Name
                <span ng-show="UsersCtrl.orderByColumn['first_name']"
                      ng-class="{'fa fa-sort-amount-asc': UsersCtrl.orderByColumn['first_name'].reverse, 'fa fa-sort-amount-desc': !UsersCtrl.orderByColumn['first_name'].reverse}">
                </span>
              </a>
            </th>
            <th>
              <a class="pointer block" ng-click="UsersCtrl.sort('username')">Username
                <span ng-show="UsersCtrl.orderByColumn['username']"
                      ng-class="{'fa fa-sort-amount-asc': UsersCtrl.orderByColumn['username'].reverse, 'fa fa-sort-amount-desc': !UsersCtrl.orderByColumn['username'].reverse}">
                </span>
              </a>
            </th>
            <th>
              <a class="pointer block" ng-click="UsersCtrl.sort('role')">Role
                <span ng-show="UsersCtrl.orderByColumn['role']"
                      ng-class="{'fa fa-sort-amount-asc': UsersCtrl.orderByColumn['role'].reverse, 'fa fa-sort-amount-desc': !UsersCtrl.orderByColumn['role'].reverse}">
                </span>
              </a>
            </th>
            <th>
              <a class="pointer block" ng-click="UsersCtrl.sort('department')">Department
                <span ng-show="UsersCtrl.orderByColumn['department']"
                      ng-class="{'fa fa-sort-amount-asc': UsersCtrl.orderByColumn['department'].reverse, 'fa fa-sort-amount-desc': !UsersCtrl.orderByColumn['department'].reverse}">
                </span>
              </a>
            </th>
            <th>
              <a class="pointer block" ng-click="UsersCtrl.sort('phone')">Phone
                <span ng-show="orderByColumn['phone']"
                      ng-class="{'fa fa-sort-amount-asc': UsersCtrl.orderByColumn['phone'].reverse, 'fa fa-sort-amount-desc': !UsersCtrl.orderByColumn['phone'].reverse}">
                </span>
              </a>
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in UsersCtrl.all | paginationOffset:UsersCtrl.pagination.currentPage:UsersCtrl.pagination.itemsPerPage">
            <td>{{ $index + 1 + ((UsersCtrl.pagination.currentPage-1) * UsersCtrl.pagination.itemsPerPage) }}</td>
            <td>{{ user.first_name + ' ' + user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>
              <span ng-show="user.is_superuser">Superuser</span>
              <span ng-show="!user.is_superuser && user.is_staff">Admin</span>
              <span ng-show="!user.is_superuser && !user.is_staff && user.is_active">Staff</span>
              <span ng-show="!user.is_superuser && !user.is_staff && !user.is_active">Not Active</span>
            </td>
            <td>{{ user.department }}</td>
            <td>{{ user.phone }}</td>
            <td>
              <a class="btn btn-success btn-xs" ui-sref="user-form({_id: user._id})"><i class="fa fa-edit"></i>
                Edit</a>
              <a class="btn btn-primary btn-xs" ng-click="toggleActive(user)">
                <i class="fa " ng-class="{'fa-times-circle': user.is_active, 'fa-check-circle': !user.is_active }"></i>
                <span ng-show="user.is_active">
                   Deactivate
                </span>
                <span ng-show="!user.is_active">
                   Activate
                </span>
              </a>

              <a class="btn btn-danger btn-xs" ng-click="deleteAccount(user._id)">
                <i class="fa fa-minus-circle"></i> Delete
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="widget-foot">

      <div class="row" ng-if="UsersCtrl.all.length">
        <div class="col-sm-6" style="padding-top: 15px;">
          Showing Page: {{ UsersCtrl.pagination.currentPage }} of {{ UsersCtrl.pagination.numPages }}
        </div>
        <div class="col-sm-6">
          <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="maxSize" class="pagination-sm pull-right"
                      boundary-links="true" rotate="false" items-per-page="pagination.itemsPerPage"></pagination>
        </div>
      </div>
      <!-- Footer goes here -->
    </div>
  </div>
</div>
