<div class="row">
  <div class="col-sm-6">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">User Account</div>
        <div class="widget-icons pull-right">
          <a class="btn btn-primary btn-xs" ui-sref="editUser({user_id: user._id})"><i class="fa fa-edit"></i> Edit</a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="row">
            <div class="col-sm-8">
              <table class="table-condensed table">
                <tr>
                  <th>Name</th>
                  <td>{{ user.first_name + ' ' + user.last_name }}</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td ng-if="user.email">
                    {{ user.email }}
                  </td>
                  <td ng-if="!user.email"> Nil</td>
                </tr>
                <tr>
                  <th>Phone</th>
                  <td ng-if="user.phone">
                    {{ user.phone }}
                  </td>
                  <td ng-if="!user.phone"> Nil</td>
                </tr>
                <tr>
                  <th>Home Phone</th>
                  <td ng-if="user.home_phone">
                    {{ user.home_phone }}
                  </td>
                  <td ng-if="!user.home_phone"> Nil</td>
                </tr>
                <tr>
                  <th>Office Phone</th>
                  <td ng-if="user.work_phone">
                    {{ user.work_phone }}
                  </td>
                  <td ng-if="!user.work_phone"> Nil</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-4">
              <img ng-if="((appointment).visitor_id).image !== undefined" ng-src="{{ appointment.visitor_id.image }}" alt=""
                   class="img-responsive"/>
              <img ng-if="!((appointment).visitor).image" src="../../img/place_holder.jpg" alt=""
                   class="img-responsive"/>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-foot">
        <!-- Footer goes here -->
      </div>
    </div>
  </div>

  <!--  reports Summary starts here -->
  <div class="col-sm-6">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Appointment Statistics</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <table class="table table-condensed table-responsive">
            <tr>
              <th class="col-sm-8">Number of Unattended Appointments</th>
              <td class="col-sm-4" ng-if="userAppointments.appointmentsAwaitingApprovalCount ">
                {{ userAppointments.appointmentsAwaitingApprovalCount | number }}
              </td>
              <td class="col-sm-4" ng-if="!userAppointments.appointmentsAwaitingApprovalCount ">0</td>
            </tr>
            <tr>
              <th class="col-sm-8">Number of Upcoming Appointments</th>
              <td class="col-sm-4" ng-if="userAppointments.upcomingAppointmentCount ">{{ userAppointments.upcomingAppointmentCount | number }}</td>
              <td class="col-sm-4" ng-if="!userAppointments.upcomingAppointmentCount ">0</td>
            </tr>
            <tr class="text-danger">
              <th class="col-sm-8">Total Number of Appointments</th>
              <td class="col-sm-4" ng-if="userAppointments.numberOfAppointments">{{ userAppointments.numberOfAppointments | number }}</td>
              <td class="col-sm-4" ng-if="!userAppointments.numberOfAppointments">0</td>
            </tr>
          </table>
        </div>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
  </div>
  <!--report summary ends here-->
</div>

<div class="row">
  <!--Upcoming appointments start here-->
  <div class="col-sm-6">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Upcoming Appointments</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-if="!userAppointments.upcomingAppointmentCount">
            <p>You have no upcoming appointments</p>
          </div>
        </div>

        <table class="table table-condensed table-bordered" ng-if="userAppointments.upcomingAppointmentCount">
          <thead>
          <tr>
            <th>S/N</th>
            <th>Visitor Name</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="appointment in userAppointments.upcomingAppointments | limitTo:5 | orderBy: 'appointment.appointment_date'">
            <td>{{ $index+1 }}</td>
            <td>{{ appointment.visitor_id.first_name + " " + appointment.visitor_id.last_name }}</td>
            <td>{{ appointment.appointment_date | date: 'EEE, MMM d, y' }}</td>
            <td>{{ appointment.visit_start_time }}</td>
            <td>{{ appointment.visit_end_time }}</td>
          </tr>
          </tbody>
        </table>
        <div class="widget-foot">
          <!-- Footer goes here -->
        </div>
      </div>
    </div>
  </div>
  <!--upcoming appointment end here-->

  <!--awaiting approval list starts here-->
  <div class="col-sm-6">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Awaiting Approval List</div>
        <div class="widget-icons pull-right">

        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <div class="alert alert-info" ng-if="!userAppointments.appointmentsAwaitingApprovalCount">
            <p>You have no appointment awaiting your approval</p>
          </div>
        </div>

        <table class="table table-condensed table-bordered" ng-if="userAppointments.appointmentsAwaitingApprovalCount">
          <thead>
          <tr>
            <th>S/N</th>
            <th>Visitor Name</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="appointment in userAppointments.appointmentsAwaitingApproval | limitTo: 5 | orderBy: 'appointment.appointment_date'">
            <td>{{ $index+1 }}</td>
            <td>{{ appointment.visitor_id.first_name + " " + appointment.visitor_id.last_name }}</td>
            <td>{{ appointment.appointment_date | date: 'EEE, MMM d, y' }}</td>
            <td>{{ appointment.visit_start_time }}</td>
            <td>{{ appointment.visit_end_time }}</td>
            <td>
              <a ng-click="toggleAppointmentApproval(appointment.uuid, $index)" class="btn btn-primary btn-xs">
                <span class="fa fa-check"></span>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="widget-foot">
        <!-- Footer goes here -->
      </div>
    </div>
  </div>
</div>
<!--awaiting approval list end here-->
