<div growl></div>
<div class="loading-status" ng-if="busy">
  <div class="alert alert-success">
    loading <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>

<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
        <div class="widget worange">
          <!-- Widget head -->
          <div class="widget-head">
            <div class="row">
              <div class="col-md-6">
                <i class="fa fa-lock"></i> Login
              </div>
              <div class="col-md-6">
                <a class="btn btn-warning btn btn-xs pull-right" ng-click="displayVisitorLogin=!displayVisitorLogin"
                   ng-show="displayVisitorLogin">
                  <i class="fa"></i> User Login
                </a>

                <a class="btn btn-primary btn btn-xs pull-right" ng-click="displayVisitorLogin=!displayVisitorLogin"
                   ng-show="!displayVisitorLogin">
                  Guest Login
                </a>
              </div>
            </div>
          </div>

          <div class="widget-content">
            <div class="padd">
              <!-- Login form -->

              <div class="alert fade in alert alert-danger" style="text-align: center;" ng-show="loginError">
                <button data-dismiss="alert" class="close" type="button" ng-click="loginError=!loginError">×</button>
                {{ errorMessages }}
              </div>

              <div ng-show="displayVisitorLogin">
                <form novalidate="" name="visitorLoginForm">
                  <div class="form-group">
                    <label for="identity">Phone Number or Pass Code <span class="text-danger">*</span></label>

                    <input class="form-control" type="text" name="identity" id="identity"
                           ng-model="visitorCredential.identity" required/>
                  </div>

                  <div class="">
                    <button type="submit" class="btn btn-info btn-sm col-sm-6" ng-click="visitorLogin()">Sign in</button>
                    <button type="reset" class="btn btn-primary btn-sm col-sm-6">Reset</button>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>

              <div ng-show="!displayVisitorLogin">
                <form method="post">
                  <!-- Email -->
                  <div class="form-group">
                    <label for="username">Username</label>

                    <input type="text" class="form-control" id="username" placeholder="Username" name="username"
                           ng-model="credentials.username">
                  </div>
                  <!-- Password -->
                  <div class="form-group">
                    <label for="inputPassword">Password</label>

                    <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                           name="password" ng-model="credentials.password">
                  </div>
                  <!-- Remember me checkbox and sign in button -->
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-info btn-sm col-sm-6" ng-click="login()">Sign in</button>
                    <button type="reset" class="btn btn-danger btn-sm col-sm-6">Reset</button>
                  </div>
                  <br/>

                </form>
              </div>
        <hr/>
              <div>
                <a class="btn btn-primary btn btn-xs pull-right" ui-sref="visitor-registration" ng-show="displayVisitorLogin">
                  Create Guest Profile
                </a>
                <div class="clearfix"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
