<div class="widget">
  <div class="widget-head">
    <div class="pull-left">Create Appointments</div>
    <div class="widget-icons pull-right">
      <a class="btn btn-danger btn-xs" ui-sref="appointments">
        <i class="fa fa-times"></i>Cancel
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
    <div class="padd">
      <fieldset>
        <legend ng-if="!appointment._id">Create Appointment</legend>
        <legend ng-if="appointment._id">Edit Appointment</legend>
        <form class="form-horizontal" name="appointmentForm" ng-submit="createAppointment()" novalidate>

          <div ng-show="user.is_superuser || user.is_staff" class="form-group">
            <label class="control-label col-sm-2">
              Host Name <span class="text-danger">*</span>
            </label>

            <div class="col-sm-6">
              <ui-select ng-model="host.selected" theme="select2">
                <ui-select-match placeholder="Select a host in the list or search with his phone number...">
                  {{$select.selected.first_name + ' ' + $select.selected.last_name}}
                </ui-select-match>
                <ui-select-choices refresh="hostLookUp.refreshHostsList($select.search)"
                                   refresh-delay="1000" repeat="host in hosts track by $index | filter: phone">
                  <div> {{host.first_name}} {{host.last_name}}</div>
                </ui-select-choices>
              </ui-select>
              <div class="text-danger bold" ng-show="(validationErrors).host_id.length">
                <span ng-repeat="error in validationErrors.host_id">
                  {{ error }}<br/>
                </span>
              </div>
            </div>
          </div>

          <div ng-show="user.is_active" class="form-group">
            <label class="control-label col-sm-2">
              Visitor Name <span class="text-danger">*</span>
            </label>

            <div class="col-sm-6">
              <ui-select ng-model="visitor.selected" theme="select2">
                <ui-select-match placeholder="Select a visitor in the list or search with his phone number...">
                  {{$select.selected.first_name + ' ' + $select.selected.last_name}}
                </ui-select-match>
                <ui-select-choices refresh="visitorLookUp.refreshVisitorsList($select.search)"
                                   refresh-delay="1000" repeat="visitor in visitors track by $index | filter: phone">
                  <div> {{visitor.first_name}} {{visitor.last_name}}</div>
                </ui-select-choices>
              </ui-select>
              <div class="text-danger bold" ng-show="(validationErrors).visitor_id.length">
                <span ng-repeat="error in validationErrors.visitor_id">
                  {{ error }}<br/>
                </span>
              </div>
            </div>
          </div>

          <!--visitor host check-->
          <div class="form-group" ng-show="!user.is_active">
            <label class="control-label col-sm-2" for="hostNumber">
              Host Phone Number  <span class="text-danger">*</span>
            </label>

            <div class="col-sm-6">
              <input class="form-control" name="hostNumber" id="hostNumber" ng-model="host_number" type="text"
                     ng-blur="getHost(host_number)"
                     ng-focus="clearError('host_id')" required/>

              <span class="text-success bold" ng-show="appointment_host.selected">
                Host Name: {{ appointment_host.selected.first_name }} {{ appointment_host.selected.last_name }}
              </span>

              <div class="text-danger bold" ng-show="(customErrors).host_id.length">
                <span>
                  {{ customErrors.host_id }}<br/>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="appointmentDate">
              Appointment Date <span class="text-danger">*</span>
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="appointment.appointment_date"
                       datepicker-popup is-open="appointmentDate.opened" id="appointmentDate" name="appointmentDate"
                       date-disabled="disabled(date, mode)"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="appointmentDate.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
              <div class="text-danger bold" ng-show="(validationErrors).appointment_date.length">
                  <span ng-repeat="error in validationErrors.appointment_date">
                    {{ error }}<br/>
                  </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" >
              Appointment Starts At <span class="text-danger">*</span>
            </label>

            <div class="col-sm-6">
              <timepicker ng-model="visit_start_time" hour-step="1" minute-step="1"></timepicker>
              <div class="text-danger bold" ng-show="(validationErrors).visit_start_time.length">
                <span ng-repeat="error in validationErrors.visit_start_time">
                  {{ error }}<br/>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">
              Appointment Ends At <span class="text-danger">*</span>
            </label>

            <div class="col-sm-6">
              <timepicker ng-model="visit_end_time" hour-step="1" minute-step="1"></timepicker>
              <div class="text-danger bold" ng-show="(validationErrors).visit_end_time.length">
              <span ng-repeat="error in validationErrors.visit_end_time">
                {{ error }}<br/>
              </span>
            </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="representing">Representing</label>

            <div class="col-sm-6">
              <input class="form-control" name="representing" id="representing"
                     ng-model="appointment.representing" type="text"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="purpose">Purpose of Visit <span
              class="text-danger">*</span></label>

            <div class="col-sm-6">
              <textarea name="purpose" id="purpose" class="form-control" ng-model="appointment.purpose"
                        required></textarea>
              <div class="text-danger bold" ng-show="(validationErrors).purpose.length">
                <span ng-repeat="error in validationErrors.purpose">
                  {{ error }}<br/>
                </span>
              </div>
            </div>
          </div>

          <hr/>

          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary"
                    ng-if="!appointment._id">
              <i class="fa fa-plus-circle"></i> Create Appointment
            </button>
            <button class="btn btn-primary"
                    ng-if="appointment._id">
              <i class="fa fa-edit"></i> Edit Appointment {{appointment.appointment_id}}
            </button>
            <a class="btn btn-danger" ui-sref="appointments"><i class="fa fa-times"></i> Cancel</a>
          </div>
        </form>
      </fieldset>
    </div>
    <div class="widget-foot">
      <!-- Footer goes here -->
    </div>
  </div>
</div>
