<div class="widget" ng-cloak>
  <div class="widget-head">
    <div class="pull-left"></div>
    <div class="widget-icons pull-right">
      <a class="btn btn-primary" ui-sref="create-appointment" ng-show="user.is_staff">
        <i class="fa fa-plus-circle"></i> Create Appointment
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
    <div class="padd">
      <!--div class="alert alert-info" ng-if="!appointments.length">
        <p>
          No appointment have been created. Click on the create appointment button to create one.
        </p>
      </div-->

      <div >
        <table class="table table-responsive table-condensed table-bordered table-striped">
          <thead>
          <tr>
            <th></th>
            <th><input style="width: 80%" class="form-control" ng-model="search.visitors_name"></th>
            <th><input style="width: 80%" class="form-control" ng-model="search.host_name"></th>
            <th>
              <div style="max-width: 200px" class="input-group">
                <input type="text" class="form-control" ng-model="search.appointment_date"
                       datepicker-popup is-open="createdDate.opened"
                       date-disabled="disabled(date, mode)"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="createdDate.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </th>
            <th><input style="width: 80%" class="form-control" ng-model="search.start_time"></th>
            <th><input style="width: 80%" class="form-control" ng-model="search.end_time"></th>
            <th>
              <select class="form-control" ng-model="search.is_approved">
                <option value=""></option>
                <option value="true">Approved</option>
                <option value="false">Not Approved</option>
              </select>
            </th>
            <th><button ng-click="search={}" class="btn btn-info">Clear</button></th>
          </tr>
          <tr>
            <th>S/N</th>
            <th>Visitor Name</th>
            <th>Host Name</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>Ends Time</th>
            <th>Approved</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="appointment in appointments track by $index | paginationOffset:currentPage:itemsPerPage | orderBy: appointment.created"
              ng-class="{'text-danger': expired(appointment.appointment_date), 'text-success': upcoming(appointment.appointment_date)}">
            <td>{{ $index+1 }}</td>
            <td>{{ ((appointment).visitor_id).first_name + ' ' + ((appointment).visitor_id).last_name }}</td>
            <td>{{ ((appointment).host_id).first_name + ' ' + ((appointment).host_id).last_name }}</td>
            <td>{{ appointment.appointment_date | date:'EEE, MMM d, y' }}</td>
            <td>{{ appointment.visit_start_time }}</td>
            <td>{{ appointment.visit_end_time }}</td>
            <td class="text-center">
              <i class="fa " ng-class="{'fa-check-circle text-success bold' : appointment.is_approved, 'fa-ban text-danger bold' : !appointment.is_approved}"></i>
            </td>
            <td>
              <a ui-sref="visitor-check-in({ appointment_id: appointment.uuid })" class="btn btn-xs btn-success"
                 ng-if="!appointment.checked_in && confirm(appointment.visitor_id.group_type) === 'Banned'" ng-show="isAppointmentUpcoming(appointment.appointment_date) && user.is_staff"
                 ng-class="{disabled: !appointment.is_approved}">Check In</a>
              <a ui-sref="visitor-check-out({ appointment_id: appointment.uuid })" class="btn btn-xs btn-success"
                 ng-show="(isAppointmentUpcoming(appointment.appointment_date))
                 && user.is_staff && appointment.checked_in !== null && appointment.checked_out === null">Check Out</a>
              <a ui-sref="edit-appointment({ appointment_id: appointment.uuid })" class="btn btn-xs btn-success"
                 ng-if="!appointment.checked_in" ng-show="isAppointmentUpcoming(appointment.appointment_date)  && user.is_staff
                 && !appointment.is_expired && !appointment.is_approved">Edit</a>
              <a ui-sref="show-appointment({appointment_id: appointment.uuid})" class="btn btn-xs btn-success">View</a>
              <span class="label label-danger" ng-show="isAppointmentExpired(appointment.appointment_date) || appointment.checked_out === ''">
                Expired Appointment
              </span>
            </td>
          </tr>
          </tbody>
        </table>
        <br/>
        <div class="row">
          <div class="col-sm-6" style="padding-top: 15px;">
            Showing Page: {{currentPage}} of {{numPages}}
          </div>
          <div class="col-sm-6">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right"
                        boundary-links="true" rotate="false" items-per-page="itemsPerPage"></pagination>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-foot">
      <!-- Footer goes here -->
    </div>
  </div>
</div>
