<div class="widget" ng-cloak>
  <div class="widget-head">
    <div class="pull-left"></div>
    <div class="widget-icons pull-right">
      <button ng-disabled="!export.length" class="btn btn-primary hidden-print" type="button"
              ng-csv="export" csv-header="csvHeader"  filename="{{getFileName('appointments')}}">
        Export
      </button>
      <a class="btn btn-primary" ui-sref="create-appointment" ng-show="user.is_active">
        <i class="fa fa-plus-circle"></i> Create Appointment
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
    <div class="padd">

      <div >
        <table class="table table-responsive table-condensed table-bordered table-striped">
          <thead>
          <tr>
            <th></th>
            <th><input style="width: 80%" class="form-control" ng-model="search.visitors_name"></th>
            <th><input style="width: 80%" class="form-control" ng-model="search.host_name"></th>
            <th>
              <div style="max-width: 200px" class="input-group">
                <input type="text" class="form-control" ng-model="search.appointment_date"
                       datepicker-popup is-open="createdDate.opened"
                       date-disabled="disabled(date, mode)"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="createdDate.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </th>
            <th><input style="width: 80%" class="form-control" ng-model="search.start_time"></th>
            <th><input style="width: 80%" class="form-control" ng-model="search.end_time"></th>
            <th>
              <select class="form-control" ng-model="search.is_approved">
                <option value=""></option>
                <option value="true">Approved</option>
                <option value="false">Not Approved</option>
              </select>
            </th>
            <th></th>
            <th><button ng-click="search={}" class="btn btn-info">Clear</button></th>
          </tr>
          <tr>
            <th>S/N</th>
            <th>
              <a class="pointer block" ng-click="sort('visitor_id.first_name')">
                Visitor Name
                <span ng-show="orderByColumn['visitor_id.first_name']"
                      ng-class="{'fa fa-sort-amount-asc': !orderByColumn['visitor_id.first_name'].reverse, 'fa fa-sort-amount-desc': orderByColumn['visitor_id.first_name'].reverse}">
                </span>
              </a>
            </th>
            <th>
              <a class="pointer block" ng-click="sort('host_id.first_name')">Host Name
                 <span ng-show="orderByColumn['host_id.first_name']"
                       ng-class="{'fa fa-sort-amount-asc': !orderByColumn['host_id.first_name'].reverse, 'fa fa-sort-amount-desc': orderByColumn['host_id.first_name'].reverse}">
                </span>
              </a>
            </th>
            <th>
              <a class="pointer block" ng-click="sort('appointment_date')">Date
                 <span ng-show="orderByColumn['appointment_date']"
                       ng-class="{'fa fa-sort-amount-asc': !orderByColumn['appointment_date'].reverse, 'fa fa-sort-amount-desc': orderByColumn['appointment_date'].reverse}">
                </span>
              </a>
            </th>
            <th>
              <a class="pointer block" ng-click="sort('visit_start_time')">Start Time
                 <span ng-show="orderByColumn['visit_start_time']"
                       ng-class="{'fa fa-sort-amount-asc': !orderByColumn['visit_start_time'].reverse, 'fa fa-sort-amount-desc': orderByColumn['visit_start_time'].reverse}">
                </span>
              </a>
            </th>
            <th>
              <a class="pointer block" ng-click="sort('visit_end_time')">End Time
                 <span ng-show="orderByColumn['visit_end_time']"
                       ng-class="{'fa fa-sort-amount-asc': !orderByColumn['visit_end_time'].reverse, 'fa fa-sort-amount-desc': orderByColumn['visit_end_time'].reverse}">
                </span>
              </a>
            </th>
            <th>
              <a class="pointer block" ng-click="sort('is_approved')">Approved
                 <span ng-show="orderByColumn['is_approved']"
                       ng-class="{'fa fa-sort-amount-asc': !orderByColumn['is_approved'].reverse, 'fa fa-sort-amount-desc': orderByColumn['is_approved'].reverse}">
                </span>
              </a>
            </th>
            <th>
              <a class="pointer block" ng-click="sort('is_approved')">Created
                 <span ng-show="orderByColumn['created']"
                       ng-class="{'fa fa-sort-amount-asc': orderByColumn['created'].reverse, 'fa fa-sort-amount-desc': !orderByColumn['created'].reverse}">
                </span>
              </a>
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="appointment in appointments | paginationOffset:pagination.currentPage:pagination.itemsPerPage"
              ng-class="{'text-danger': isAppointmentExpired(appointment.appointment_date, appointment.visit_end_time), 'text-success': isAppointmentUpcoming(appointment.appointment_date)}">
            <td>{{ $index + 1 + ((pagination.currentPage-1) * pagination.itemsPerPage)}}</td>
            <td>{{ ((appointment).visitor_id).first_name + ' ' + ((appointment).visitor_id).last_name }}</td>
            <td>{{ ((appointment).host_id).first_name + ' ' + ((appointment).host_id).last_name }}</td>
            <td>{{ appointment.appointment_date | date:'EEE, MMM d, y' }}</td>
            <td>{{ appointment.visit_start_time }}</td>
            <td>{{ appointment.visit_end_time }}</td>
            <td class="text-center">
              <i class="fa " ng-class="{'fa-check-circle text-success bold' : appointment.is_approved, 'fa-ban text-danger bold' : !appointment.is_approved}"></i>
            </td>
            <td>{{ appointment.created | date:'EEE, MMM d, y' }}</td>
            <td>
              <a ui-sref="visitor-check-in({ appointment_id: appointment.uuid })" class="btn btn-xs btn-success"
                 ng-if="!appointment.checked_in && confirm(appointment.visitor_id.group_type) !== 'Banned'"
                 ng-show="isAppointmentUpcoming(appointment.appointment_date) && user.is_staff"
                 ng-class="{disabled: !appointment.is_approved}">Check In</a>
              <a ui-sref="visitor-check-out({ appointment_id: appointment.uuid })" class="btn btn-xs btn-success"
                 ng-show="(isAppointmentUpcoming(appointment.appointment_date))
                 && user.is_staff && appointment.checked_in !== null && appointment.checked_out === null">Check Out</a>
              <a ui-sref="edit-appointment({ appointment_id: appointment.uuid })" class="btn btn-xs btn-success"
                 ng-if="!appointment.checked_in" ng-show="isAppointmentUpcoming(appointment.appointment_date)  && user.is_active
                 && !appointment.is_expired && !appointment.is_approved && appointment.host_id.id === user.id">
                <i class="fa fa-edit"></i> Edit</a>
              <a ng-click="deleteAppointment(appointment.uuid)" ng-show="user.is_superuser"
                class="btn btn-danger btn-xs pointer"><i class="fa fa-times-circle"></i> Delete</a>
              <a ui-sref="show-appointment({appointment_id: appointment.uuid})" class="btn btn-xs btn-success">
                <i class="fa fa-eye"></i> View</a>
              <span class="label label-danger" ng-show="isAppointmentExpired(appointment.appointment_date, appointment.visit_end_time) || appointment.checked_out === ''">
                Expired
              </span>
            </td>
          </tr>
          </tbody>
        </table>
        <br/>
        <div class="row">
          <div class="col-sm-6" style="padding-top: 15px;">
            Showing Page: {{ pagination.currentPage }} of {{ pagination.numPages }}
          </div>
          <div class="col-sm-6">
            <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="maxSize" class="pagination-sm pull-right"
                        boundary-links="true" rotate="false" items-per-page="pagination.itemsPerPage"></pagination>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-foot">
      <!-- Footer goes here -->
    </div>
  </div>
</div>
